{% extends 'base.html' %}
{% load static %}
{% load blog_tag %}

{% block search %}
<!-- Search Button -->
<a class="search-trigger text-white" href="#fs-search" data-toggle="fullscreen-overlay">
  <i class="fe-icon-search"></i>
</a>

<!-- Full Screen Search-->
<div class="fs-overlay-wrapper" id="fs-search" style="background-image: url({% static 'img/fs-overlay-bg.png' %});"><span class="fs-overlay-close"><i class="fe-icon-x"></i></span>
  <div class="fs-overlay-inner">
    <div class="fs-overlay-content">
      <div class="container">
        <form class="input-group" action="{% url 'blog:search' %}" method="get">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fe-icon-search"></i></div>
          </div>
          <input class="form-control" type="text" name="s" placeholder="جستجو نوشته مورد نظر...">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
    <!-- Page Content-->
    <div class="container pb-5 mb-3" style="margin-top: -160px;">
      <div class="bg-white box-shadow px-5 py-5">
        <div class="row">
          <!-- Post Content-->
          <div class="col-lg-9">
            <!-- Single Post Meta-->
            <div class="d-flex justify-content-between align-items-center pb-3">
              <div><a class="scroll-to post-author" href="#author">
                  <div class="post-author-avatar"><img src="{{post.photographer.image.url}}" alt="{{post.id}}"/>
                  </div>
                  <div class="post-author-name">{{post.photographer.first_name}}&nbsp;{{post.photographer.last_name}}</div></a></div>
              <div class="post-meta"><a class="scroll-to text-sm" href="#comments"><i class="fe-icon-message-square"></i>{{comments|length}}</a><span class="text-sm"><i class="fe-icon-clock"></i>{{post.published_date|date:"D F Y"}}</span></div>
            </div>
            <hr class="mb-4">
            <!-- Carousel-->
            <div class="mb-4"><img src="{{post.image.url}}" alt="{{post.title}}"/></div>
            <div class="blockquote mb-4 text-justify">
              <h3 class="block-title">{{post.title}}</h3>
              <p class="pb-3">{{post.content|safe|linebreaks}}</p>
            </div>
           
            <!-- Single Post Tags + Share-->
            <div class="d-sm-flex justify-content-between align-items-center border-top border-bottom mb-5 py-2">
              {% for tag in post.tags.all %}
              <div class="py-2"><a class="tag-link" href="{% url 'blog:tag' tag_name=tag.name %}">{{tag}}</a></div>
              {% endfor %}
              <div class="py-2"><span class="dinline-block align-middle py-2 ml-2"><strong>اشتراک:</strong></span><a class="social-btn sb-style-3 sb-facebook mb-0" href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-3 sb-twitter mb-0" href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-3 sb-pinterest mb-0" href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="socicon-pinterest"></i></a></div>
            </div>
            <!-- Single Post Author-->
            <div class="pb-3" id="author" data-offset-top="100">
              <div class="author-card mb-5">
                <div class="author-card-cover" style="background-image: url({% static 'img/widgets/author/cover.jpg' %});"></div>
                <div class="author-card-profile">
                  <div class="author-card-avatar"><img src="{{post.photographer.image.url}}" alt="Post Author"/>
                  </div>
                  <div class="author-card-details ">
                    <h5 class="author-card-name">{{post.photographer.first_name}}&nbsp;{{post.photographer.last_name}}</h5>
                      <span class="author-card-position fe-icon-briefcase">&nbsp;{{post.photographer.job}}</span>
                    
                  </div>
                </div>
                <p class="author-card-info">{{post.photographer.description}}</p>
                <div class="author-card-social-bar-wrap">
                  <div class="author-card-social-bar"><a class="social-btn sb-style-1 sb-facebook" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-1 sb-pinterest" href="#"><i class="socicon-pinterest"></i></a><a class="social-btn sb-style-1 sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-1 sb-linkedin" href="#"><i class="socicon-linkedin"></i></a></div>
                </div>
              </div>
            </div>
            <hr class="pb-4">
            <!-- Entry Nanigation-->
            <nav class="entry-navigation">
              <div class="prev-btn"><a class="label" href="#"><i class="fe-icon-arrow-right"></i>پست قبلی </a>
                <div class="post-preview">
                  <div class="post-preview-thumb"><img src="{% static 'img/blog/navigation/02.jpg' %}" alt="Blog post thumbnail"/>
                  </div>
                  <div class="post-preview-details"><span class="post-preview-title">پیشرفت تکنولوژیکی</span><span class="post-preview-meta"><i class="fe-icon-calendar"></i>اردیبهشت ۰۳, ۱۳۹۷</span></div>
                </div>
              </div><a class="back-btn" href="{% url 'blog:blog' %}"><i class="fe-icon-grid"></i></a>
              <div class="next-btn"><a class="label" href="#">پست بعدی <i class="fe-icon-arrow-left"></i></a>
                <div class="post-preview">
                  <div class="post-preview-details"><span class="post-preview-title">طبیعت مادر دارد حرف می‌زند</span><span class="post-preview-meta"><i class="fe-icon-calendar"></i>اردیبهشت ۰۳, ۱۳۹۷</span></div>
                  <div class="post-preview-thumb"><img src="{% static 'img/blog/navigation/01.jpg' %}" alt="Blog post thumbnail"/>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <div class="col-lg-3">
            <!-- Single Post Sidebar-->
            <!-- Off-Canvas Toggle--><a class="offcanvas-toggle" href="#blog-single-sidebar" data-toggle="offcanvas"><i class="fe-icon-sidebar"></i></a>
            <!-- Off-Canvas Container-->
            <aside class="offcanvas-container" id="blog-single-sidebar">
              <div class="offcanvas-scrollable-area px-4 pt-5 px-lg-0 pt-lg-0"><span class="offcanvas-close"><i class="fe-icon-x"></i></span>
                
                <!-- Categories-->
                {% post_cat %}
                <!-- Categories End -->

                <!-- Recent Comments-->
                {% recent_comments %}
                
                <!-- Recent Posts-->
                {% recent_posts %}
                <!-- Recent Posts End-->

                <!-- Tags Begin -->
                {% post_tags %}
                <!-- Tags End -->

              </div>
            </aside>
          </div>
        </div>
      </div>
      <!-- Single Post Comments-->
      <div class="bg-secondary py-5" id="comments">
        <div class="container pb-4">
          <div class="row">
            <div class="col-lg-9">
              <h4 class="text-center pb-3">{{comments|length}} دیدگاه</h4>
              
              <!-- Comments begin -->
              {% for comment in comments %}
              <div class="blockquote comment mb-4">
                <div class="d-sm-flex justify-content-between align-items-center">
                  <div class="testimonial-footer">
                    <div class="testimonial-avatar block-title"><img src="{% static 'img/testimonials/03.jpg' %}" alt="{{comment.name}}"/>
                    </div>
                    <div class="d-table-cell align-middle pr-2 pb-2">
                      <div>{{comment.name}}</div>
                      <cite class="text-sm ">{{comment.created_date|date:"d F - H:i"}}</cite>
                    </div>
                  </div>
                  <div ><a class="btn btn-primary btn-sm" href="#"><i class="fe-icon-corner-up-left"></i>&nbsp; پاسخ</a></div>
                </div>
                <p class="pt-3">{{comment.message}}</p>
              </div>
              {% endfor %}
              <!-- Comments end -->

                <!-- <div class="blockquote comment">
                  <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                  <div class="testimonial-footer">
                    <div class="testimonial-avatar"><img src="{% static 'img/testimonials/05.jpg' %}" alt="Comment Author Avatar"/>
                    </div>
                    <div class="d-table-cell align-middle pr-2">
                      <div class="blockquote-footer">خسرو شکیبا
                        <cite>اردیبهشت ۰۳, ۱۳۹۷ در ۵:۰۰ بعداظهر</cite>
                      </div>
                    </div>
                  </div>
                </div> 
                -->

              <!-- Comment form begins-->
              <section class="container position-relative" style="z-index: 5;">
                <div class="bg-white box-shadow pt-3 pb-5 px-3 px-sm-4">
                  <h2 class="h4 block-title text-center">ارسال دیدگاه</h2>
                  <form method="POST" action="{% url 'blog:blog-detail' name=post.title %}" class= "needs-validation pt-4" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="post" value="{{post.id}}">

                    {% for message in messages %}
                    <div class="container-fluid p-0">
                      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        </button>
                        {{ message }}
                      </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="name">نام <strong class='text-danger'>*</strong></label>
                          <input class="form-control" type="text" name="name" id="name" required>
                          <div class="invalid-feedback">لطفا نام خود را وارد کنید!</div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label for="email">ایمیل <strong class='text-danger'>*</strong></label>
                          <input class="form-control text-left placeholder-right" type="email" name="email" id="email" required>
                          <div class="invalid-feedback">لطفا آدرس ایمیل معتبر وارد کنید!</div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="message">پیام <strong class='text-danger'>*</strong></label>
                      <textarea class="form-control" name="message" id="message" rows="10" required></textarea>
                      <div class="invalid-feedback">لطفا پیام خود را بنویسید</div>
                    </div>
                    <div class="text-center">
                      <button class="btn btn-gradient" type="submit">ارسال پیام</button>
                    </div>
          
                  </form>
                </div>
              </section>
              <!-- Comment form ends-->
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
    